.Fontsize>div{margin:5px 0;}
.font20{font-size: 1rem;}
.font19{font-size: 0.95rem;}
.font18{font-size: 0.9rem;}
.font16{font-size: 0.8rem;}
.font14{font-size: 0.7rem;}
.font12{font-size: 0.6rem;}
.font10{font-size: 0.5rem;}
.font11{font-size: 0.55rem;}
.font13{font-size: 0.65rem;}
.font15{font-size: 0.75rem;}
.font17{font-size: 0.85rem;}
body{  background: #F7F7F7;}
.shows{display: none}
.white_bg{background: #fff;margin-bottom:5px;padding: 0 10px;}
  .flex{display: flex}
  .flex_center{flex:1;text-align: center;}
  .flex_lf{flex:1;text-align: left;}
  .flex_rt{flex:1;text-align: right;}
  .max_width{width: 96%;margin:0 auto;}
/* 列表页公共的*/
.OL_content{
    background: #F7F7F7;
    position: absolute;
    top:38px;
    bottom:0px;
    width: 100%;
  }
  .OL_title{
    height: 32px;
    line-height: 32px;
  }
  .OL_title>.lf{
    color: #F08632;
    font-size: 0.7rem;
    line-height: 30px;
  }
  .OL_title>.lf i{
    display: inline-block;
       width: 12px;
    height: 30px;
    background: url("../img/Or_icon.png") no-repeat left center;
    background-size: 100%;
    vertical-align: bottom;
    margin-right: 5px;
    margin-left: 5px;
  }
  .OL_title>.rt{
   font-size: 0.75rem;
    color:#434343;
    padding-right: 10px;
  }
  .OL_fooditem{
    display: flex;
    /*position: relative;*/
  }
  .OL_fooditem_lf{
    flex: 0 0 80px;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
        position: relative;

  }
  .OL_foodltem_rt{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /* top: 50%; */
    /* left: 100px; */
    /* transform: translateY(-50%); */
    /* position: relative; */
    margin-left: 10px;
    padding: 6px 0px;
    display: flex;
  }
  .OL_fooditem_lf>img{
      max-height: 69px;
    box-sizing: border-box;
    /* padding: 5px; */
    max-width: 79px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .OL_foodltem_rt>span:first-child{
        font-size: 0.75rem;
    flex: 1;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* -webkit-line-clamp: 3; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 24px;
    // height: 68px;
  }
  .OL_foodltem_rt>span:last-child{
       font-size: 0.75rem;
    font-weight: bold;
    // position: absolute;
    // right: 10px;
    // top: 50%;
    // transform: translateX(0) translateY(-50%);
        text-align: right;
        flex: 0 0 60px;
        width: 60px;
        padding-left: 10px;
        box-sizing: border-box;
        text-align: right;

  }
  .mar_top_bot{
    display: flex;
    height:48px;
    line-height: 48px;
  }
  .mar_top_botrt{
    line-height: 36px;
    padding-top: 5px;
  }
  .mar_top_botlf,.mar_top_botrt{
    flex:1;
    font-size: 0.65rem;
  }
  .mar_top_botlf span{
 font-size: 0.75rem;
  }
  .mar_top_botrt {
    text-align: right;
        // flex: 0.8;
  }
 .OrderList .mar_top_botrt{
        flex: 0.8;
 }
  /*点餐订单详情-餐厅扫码后展示*/
  .ODP_header{
    margin-top: 8px;
    background: #fff;
    text-align: center;
  }
  .ODP_header>img{
    padding: 15px 0; 
  }
  .ODP_title{
    padding-bottom: 22px;
    color: #F1882F;
    font-size: 0.85rem;
    font-weight: bold;
  }
  .ODP_Message{
    height: 50px;
    line-height: 50px;
  }
  .width_auto{
   font-size: 0.75rem;
    color: #434343;
  }
  .width_auto>i{
    display: inline-block;
    width: 25px;
    height: 20px;
    background:url('../img/messge.png') no-repeat center center;
    background-size:100%;
    vertical-align: middle;
    margin:0px 10px;
  }
  /*点餐订单详情-已收货*/
  .ODG_title{
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding-left:17px;
    font-size: 0.75rem; 
    color:#F08632;
  }
  .pub_messge{
     height: auto;
    line-height: 30px;
    text-align: left;
        word-wrap: break-word;
  }
  .pub_messge>.width_auto{border-top:1px solid #DCDCDC;}
  .bold{font-weight: bold;color: #1C1C1C}
  .red{color:#F74945;}
  .blue{color:#F18B2E;}



  /*底部*/
.shopCart {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    z-index: 50;
}
.Online_content {
    display: -ms-flexbox;
    display: flex;
    background: #D8D8D8;
}
.Online_content-left{
  -ms-flex: 1;
    flex: 1;
    height: 50px;
}
.Online_content-right{
      background: #F08632;
    color: #fff;
        flex: 0 0 122px;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
        border: none;
}

/*加减号*/
.cartcontrol-wrapper {
    position: absolute;
    right: 0;
    bottom: 12px;
    z-index: 20;
}
.cartcontrol .cart-decrease {
    display: inline-block;
    padding: 6px 0;
}
.cart-decrease{
  transition: all 0.4s linear;
}
.cart-add{
  display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: #F08632;
    line-height: 24px;
    padding: 6px 0;
}
 .inner {
    line-height: 24px;
    font-size: 24px;
    color: #F08632;
    transition: all 0.4s linear;
    display: block;
}
.cart-count {
    display: inline-block;
    vertical-align: top;
    font-size: 0.7rem;
    color: #93999f;
    line-height: 24px;
    text-align: center;
    padding: 6px 0;
}
.Online_Surplus{
  font-size:0.6rem;
  color:#838383;
  margin: 2px 0 8px 0;
}
.Online_logo{
  width: 33px;
    height: 33px;
    background: #F08632;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    line-height: 44px;
    font-weight: 700;
    position: relative;
    margin-top: 9px;
}
.Online_logo1{
    height: 33px;
    font-size: 24px;
    color: #fff;
    line-height: 44px;
    font-weight: 700;
    position: relative;
    margin-top: 9px;
}
.Online_shop_card{
    /* width: 80%; */
    margin: 0 auto;
    height: 50px;
    text-align: left;
    padding-left: 10px;
}
.Online_logo,.Online_price{
  display: inline-block;
}
.Online_logo >i{
    position: absolute;
    /* transform: translateX(50%) translateY(50%); */
    top: 4.5px;
    left: 4.5px;
}
.Online_price{
    font-size: 1.2rem;
    font-weight: bold;
    color: #F08632;
    vertical-align: super;
}
.Online_price>span{
  font-size:13px;
}
.fadeRotate-enter-active,.fadeRotate-leave-active{
  transform: translate3d(0,0,0);
}
.fadeRotate-enter,.fadeRotate-leave-active{
  transform:translate3d(24px,0,0);
}
.wide_btn_gray,.wide_btn_blue{
     height: 40px;
    line-height: 40px;
    margin:0 auto;
   font-size: 0.8rem;
    width: 80%;
  text-align: center;

}
.wide_btn_blue{
  color: #fff;
  background: #F08632;
  
}
.wide_btn_gray{
  color: #000;
  background: #BFBFBF;
}
.home_pay{
    width: 80%;
    background: #F08632;
    color: #fff;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.75rem;
    margin: 1.3rem auto 2.3rem auto;
    text-align: center;
    margin: 1.3rem  auto;
    border: none;
    display: block;
}
.gray_btn{
    width: 80%;
    background: #EEEEEE;
    color: #F08632;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.75rem;
    margin: 1.3rem auto 2.3rem auto;
    text-align: center;
    border:1px solid #FF5500;
  }
.home_pay_icon{
   display: inline-block;
    background: url(../img/home-tab1.png) no-repeat left center;
    margin-right: 5px;
    padding-left: 30px;
    font-size: 0.75rem;
    background-size: 30%;
}
.home_pay_icon1{
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 0.75rem;
    background: url(../img/blue_btn.png) no-repeat center center;
        background-size: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.blank_font{
  color:#000;
}
input{outline:none}
.ml4{padding:0 5px;}
/*电商*/
.whiteBlue_longbtn,.whiteBlue_btn{
  font-size: 0.6rem;color:#F08632;border:1px solid #F08632;display: inline-block;text-align: center;margin:0 5px;
}
.whiteBlue_longbtn{width: 170px;height: 32px;line-height: 32px;margin:0 auto;}
.whiteBlue_btn{width: 50px;height: 20px;line-height: 20px;}
.model{
  position: fixed;
  top:0;
  bottom: 0;
  background: rgba(1,1,1,0.8);
  width: 100%;
  height: 100%;
}
.gray_fonts{color:#B5B5B5;}
.empty_bluebtn,.empty_whitebtn{
  display: inline-block;padding:5px 8px; font-size: 0.6rem;
}
.change_title{margin:10px 0;    font-size: 0.65rem;}
.empty_bluebtn{border:1px solid #F08632;color:#F08632}
.empty_whitebtn{border:1px solid #959595;color:#959595}

// 加减号
.number{display: inline-block;}
.change_spec_number{        margin-bottom: 40px;
    overflow: hidden;
    height: 80px;
    padding-bottom: 15px;}
.change_spec_number>.change_title{display: inline-block;}
.decrease,.increase {
      display: inline-block;
    width: 26px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-weight: bold;
 }
.decrease{background: #FFA82B}
.increase {background: #F08632}
.DP_num{
      background: #eee;
    /* width: 18px; */
    /* height: 15px; */
    /* line-height: 17px; */
    padding: 5px 2px;
    text-align: center;
    display: inline-block;
    font-size: 0.6rem;
    color: #000;
  }
.change_spec_number>.change_title{float: left;padding-top: 4px;}

.DP_number{margin-left: 10px;margin-top:13px;float:left;}

.ML_input{    width: 65%;
    position: relative;
    height: 30px;
    flex: 0.8;}
.ML_input>input{
      border-radius: 10px;
    background: #fff;
    width: 100%;
    height: 30px;
    /* padding-left: 10px; */
    font-size: 0.5rem;
    color: #959595;
    padding-left:3px;
}
.ML_icon1{vertical-align: middle;}
.ML_search{
    position: absolute;
    top: 7px;
    right: 3px;
    width: 17px;
    height: 17px;
    background: url('../img/ML_search.png') no-repeat center center;
    background-size: 100%;
 }



/*点餐页*/
.OnlineOrder{
    position: relative;
  }
  .OnlineO_header{
    position: absolute;
    top: 0;
      left: 0;
      width: 100%;
  }
  .Online_goods{
    display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 81px;
      bottom: 48px;
      width: 100%;
      overflow: hidden;
  }
  .menu-wrapper{
  -ms-flex: 0 0 104px;
    flex: 0 0 104px;
    width: 104px;
    background: #fff;
    margin-top: 4px;
  }
.Online_goods .menu-item,.Online_goods .menu-item-selected{
    position: relative;
    display: table;
    height: 54px;
    line-height: 14px;
    width: 90px;
    padding: 0 7px;
  }
.Online_goods .menu-item-selected{
   background: #fff;
   margin-top: -1px;
}
.Online_goods .text{
display: table-cell;
    vertical-align: middle;
    font-weight: 200;
    white-space: normal;
    line-height: 14px;
    // border-bottom: 1px solid #B6B6B6;
    position: relative;
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 80px;
      margin-top: 18px;

}
.menu-item-selected .text{
  border:none;
  color:#F08632;
  font-size: 0.75rem;
}
.menu-item{
  background: #EAEAEA;
}
.Online_icon{
      position: absolute;
    right: 8px;
    /* font-weight: 100; */
    font-style: inherit;
    top: 5px;
    display: block;
    width: 21px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    background: red;
    text-align: center;
    line-height: 17px;
    /* padding: 10px; */
    font-size: 10px;
}
.Online_goods .foods-wrapper {
    -ms-flex: 1;
    flex: 1;
    margin-top: 2px;
    background: #fff;
}
.Online_goods .foods-wrapper .food-list h1 {
  height: 20px;
    line-height: 20px;
    padding-left: 12px;
    font-size: 0.65rem;
    color: #F08632;
    background: #fff;
    border-left: 3px solid #F08632;
    border-bottom: 1px solid #FDFDFD;
    margin: 3px 0;
}
.foods-wrapper .food-item{
  position:relative;
  display: flex;
  display: -ms-flexbox;
  margin:0 18px;
    padding: 8px 0 0 0;
   border-bottom: 1px solid rgba(7,17,27,0.1);
}
.icon{
  text-align: center;
}
.icon>img{
     max-height: 52px;
    max-width: 57px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.food-item .icon {
       -ms-flex: 0 0 57px;
    flex: 0 0 57px;
    width: 57px;
    height: 52px;
    position: relative;
}
 .food-item .content {
    -ms-flex: 1;
    flex: 1;
    padding-left: 10px;
}
.food-item .content h2 {
    margin: 2px 0 8px 0;
    font-size: 15px;
    line-height: 16px;
    /*height: 14px;*/
}
.content .price {
    font-size: 10px;
    font-weight: 700;
    line-height: 24px;
}
.newPrice{
    font-size: 0.7rem;
    color: #f01414;
}
.unit{
      font-size: 10px;
    font-weight: normal;
}
.yellow_color{
  color:#FF9B00;
}
.organge_fonts{color: #F08632;font-size: 0.75rem}
.gray_font{color:#B5B5B5;font-size: 0.55rem}
.OL_tabone{margin-bottom: 8px;margin-top:8px;}
.OrderedFoodList>.OL_tabone{margin-bottom: 50px;}
/*订单详情*/

.ODG_list span{
      font-size: 0.75rem;
    line-height: 32px;
}
.ODG_list .mint-cell{
  height: 32px;
  line-height: 32px;
}
.ODG_list .mint-cell-wrapper:first-child{
  border:none;
}
.ODG_list .mint-cell-wrapper{
  border-top:1px solid #ddd;
}
.ODG_list .mint-cell-text{
  color:#000000;
}
.ODG_list .mint-cell-value span{
  color:#000000;
   font-weight: bold;
} 
.ODG_footer{
  font-size: 12px;
  width: 96%;
  margin:15px auto;

}
.ODG_footer>p{
  color:#959595;
  height: 18px;
  line-height: 18px;
  font-size: 0.65rem;
}
.ODG_payment{
  background: #fff;
  width: 98%;
  margin:0 auto;
  text-align: right;
  font-size: 0.85rem;
   
}
.ODG_payment>div{
  border-top:1px solid #ddd;
     padding-right:  10px;
     font-weight: bold;

}


.ODP_code_content{
  padding: 10px 0;
}
.ODP_code{
  justify-content: center;
}
.ODP_code_title{
  color: #F08632;
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.ODP_code_prompt{
  font-size: 0.67rem;
  color:#434343;
  text-align: center;
}
  .opcs-barcode-content{
    padding: 0 1rem;
    width: 100% !important
  }

  .opcs-qrcode-content{
    width:60% !important;
    height:60% !important;
  }
  .pub_ly{width: 93%;margin:0 auto;font-size: 15px;}
  .nowloading{position: absolute;z-index: 1000;left: 50%;top:50%; transform: translateX(-50%) translateY(-50%);}
  /*购物车*/
.max-organge_fonts{    font-size: 0.85rem;    color: #f08632;font-weight: bold;}
  .SC_change_lf{width: 83px;flex: 0 0 83px;}
.SC_change_rt{flex:1;font-size: 0.85rem;}
.SC_change_lf .mint-checkbox-core{border-radius: 50%;}
.shoppingCard_footer_rt{font-size: 0.75rem;background: #FFA82B;text-align: center;color: #fff;}

  .shoppingCard_content li{margin-bottom:8px;margin-top:0;}
  .shoppingCard_content .mint-checklist-label{    display: initial;padding:0;}
  .shoppingCard_content .mint-checkbox-core{border-radius: 50%;width: 13px;height: 13px;  }
  .shoppingCard_content .OL_fooditem{position: relative;}
  .SC_changetable{position: absolute;left: 0px;top:50%;transform: translateY(-50%);}
  .shoppingCard_content .OL_fooditem_lf{    flex: 0 0 70px;    margin-left: 28px;    width: 70px;border: 1px solid #ddd;
    margin: 10px 0 10px 28px;height: 70px; }
  .ShoppingCard_bot{padding: 10px 0px;position: relative;}
  .ShoppingCard_bot>h1{
        font-size: 0.75rem;
    line-height: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 33px;
  }
  .ShoppingCard_btn{    position: absolute; left: 0px; width: 100%;    bottom: 10px;}
  .ShoppCard_money{font-size: 0.75rem;color:#f08632;font-weight: bold;}
  .ShoppingCard_box{position: absolute;right: 0px;bottom: 0;}
  .ShoppingCard_box .DP_number{margin:0;}
  .shopingCard_delte{padding: 0 18px;vertical-align: bottom;}
  .shoppingCard_footer{display: flex;height: 45px;line-height: 45px;font-size: 0.6rem;position: fixed;bottom: 0;background: #fff;width: 100%;}
  .shoppingCard_footer_rt{width: 90px;flex: 0 0 90px;}
  .shoppingCard_footer_lf{flex: 1;display: flex;}
/*收货地址*/
  .SelectAddress li {border-bottom: 1px solid #D8D8D8;}
  .SelectAddress .shoppingCard_content li{margin:0;}
  .shoppingCard_content .mar_top{display: flex;}
  .shoppingCard_content .SeectAddress_lf{position:relative;flex: 0 0 30px; width: 30px;text-align: center;}
  .SeectAddress_rt{flex: 1;}
  .SeectAddress_lf .mint-radiolist-label{position: absolute; top:50%;transform: translateX(-50%);    margin-top: -10px;padding:0;}
  .SelectAddress_title{position: relative;padding: 10px 0;    height: 20px;
    line-height: 20px;}
  .SA_phone{position: absolute;right: 10px;}
  .SelectAddress_bot{
      color: #434343;
    height: 30px;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 15px;
    margin-bottom: 14px;
    width: 96%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  /*修改手机*/
  .ChangePhone .mint-cell-wrapper{
  border-bottom:1px solid  #d7d7d7;
  height: 40px; 
      width: 96%;
    margin: 0 auto;
}
.ChangePhone a:last-child {
  width: 100%;
} 
.ChangePhone>a:last-child>.mint-cell-wrapper{
  border:none;
}
.Cp_code{
    background: #F08632;
    color: #fff;
    font-size: 0.7rem;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
}
.ChangePhone>.wide_btn_blue{
  margin-top: 25px;
}
.ChangePhone_footer{
      width: 80%;
    background: #EEEEEE;
    margin: 0 auto;
    text-align: left;
    padding: 0 15px;
    position:fixed;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);

}
.ChangePhone_footer>p{
    font-size: 10px;
    color: #8E8E8E;
     padding: 10px 0;
      line-height: 16px;
}
/*订单成功*/
.ODS_herder{
    margin:0 auto;
    padding: 36px 0 44px 0;
    text-align: center;
  }
  .ODS_herder>img{
    margin-bottom: 15px;
  }
  .ODS_herder p{
    color:#F18B2E;
    font-size: 1rem;
    font-weight: bold;
  }
  .ODS_content{
    text-align: center;
    margin-bottom: 2rem;
  }
  .ODS_content>p{
    margin-bottom: 10px;
  }
  .ODS_content>h1{
    font-size: 2rem;
    color: #414141;
    font-weight: bold;
  }
  /*什么都没有*/
    .Nc_bot{
    text-align: left;
      /*text-indent: 2em;*/
      line-height: 23px;
  }
  .Nc_bot>a{
    color: #3879D9;
  }
  
.NothindMore{    position: absolute;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;}
    /*下订单系统*/
    .OFl_header{
    padding:14px 0 15px 15px;
    background: #fff;
  }
  .OFl_header>p{
    margin-bottom:15px;
  }
  .OFl_header>p b,.OFl_header>p span{
    font-weight: bold;
    font-size: 0.75rem;

  }
  .OFl_header>p>b{
    margin-right: 2rem;

  }
  .OFl_address{
    display: flex;
    position: relative;
    
  }
  .OFl_address>span:first-child{
  color:#414141;
  font-size: 0.6rem;
  line-height: 14px;
  }
  .jt_bg{
     /* flex: 0 0 66px; */
    width: 30px;
    text-align: center;
    align-items: center;
    /* display: flex; */
    position: absolute;
    right: 5px;
    top: -4px;
  }
  .jt_bg>img{
    margin:0 auto;
  }
.OFL_changepay span{
      font-size: 0.75rem;
    line-height: 32px;
}
.OFL_changepay .mint-cell{
  height: 40px;
  line-height: 40px;
  border-bottom:1px solid #D7D7D7;

}
.OFL_changepay li:last-child .mint-cell{
  border:none;
}


.OFL_message{
      font-size: 0.75rem;
}
.OFL_message p{
   padding: 0px 10px;
   border-bottom:1px solid #D7D7D7;
    width: 93%;
    margin:0 auto;
    height: 40px;
    line-height: 40px;
}
.OFL_message>span{
  color:#444444;
}
.OFL_wxcontent{
  /*border:1px solid #3174BA;*/
  /*width: 80px;*/
  height: 23px;
  line-height: 23px;
  font-size: 14px;

}
.OFL_wxcontent>img{
  padding-left: 5px;
}
.OFL_money{
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height:50px ;
  color:#F08632;
      padding-left: 10px;

}

.OFL_listtwo span{
      font-size: 0.75rem;
    line-height: 30px;
}
.OFL_listtwo .mint-cell{
  height: 30px;
  line-height: 30px;
}
.ActualMoney_box .mint-cell{
  height: 32px;
  line-height: 32px;
  border-top: 1px solid #E9E9E9;
}
.ActualMoney_box span{
      font-size: 15px;
    line-height: 32px;
    font-weight: bold;
    color: #4F4F4F;
}
.ActualMoney_box .ActualMoney{
  color:#F18B2E;
}
.OrderedFoodList_top{
   /*   position: absolute;
          bottom: 48px;
          width:100%;*/
          margin-bottom:50px;
}
.orderMsg_input{
  width:70%;
  flex:1;
      font-size: 0.7rem;
    line-height: 32px;
}
.OrderedFoodList .mint-checklist-label{padding:0;}
  .addAdress_btn  {background:#F08632;height: 40px;line-height: 40px;text-align: center;color: #fff;position: fixed;bottom:0; width: 100%}
/*搜索，搜索详情*/

  .EC_CP_header{background: #f79e20;text-align: center;  height: 47px;}
  .EC_CP_header>.EC_CP_input{padding-top:5px;height: 30px;line-height: 30px;width:90%;margin:0 auto;position: relative;}
  .EC_CP_input>input{width: 100%;border-radius: 10px;height:30px;font-size: 0.6rem;box-sizing: border-box;padding-left: 10px;}
  .EC_CP_input >img{position: absolute;     right: 8px;  top: 13px;}
  .EC_CP_goods>.Online_goods{    top: 46px;bottom:58px;}
  .EC_CP_goods .menu-wrapper{background: #f7f7f7;}
  .EC_CP_menu_lf li{height: 40px;text-align: center; font-size: 0.75rem;line-height: 40px;}
  .EC_CP_selected{color:#F08632;background: #fff;}
  .EC_CP_wrapper li{overflow: hidden;width: 95%;margin:0 auto;}
  .EC_CP_content{float: left;width: 33.333%;text-align: center;margin-top:20px;}
  .EC_CP_imgbox{width: 60px; height: 60px;position: relative;margin-left:10px;margin: 0 auto;}
  .EC_CP_imgbox>img{max-width: 60px;max-height: 60px;position: absolute;transform:translateX(-50%) translateY(-50%) ;top:50%;left:50%; }
  .EC_CP_content p{text-align: center;
    margin-top: 8px;
    font-size: 0.7rem;
    /* height: 14px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
    .suggest-container{width: 100%;background: #fff;}
  .suggest-container li{width: 90%;margin:0 auto;padding-top:20px;}
  .suggest_title{overflow: hidden;    padding-bottom: 5px;}

  .suggest_title>span{color:#F08632;font-size: 0.7rem;float: left;}
  .suggest_title>img{float: right;}
  .suggest-hotkey{margin:10px 0;}
  .suggest-hotkey li{font-size: 0.55rem; width: inherit;height: 30px;line-height: 30px; background: #f4f3f3;   border-radius: 14px;   padding: 0 15px;border: 1px solid #dedede;display: inline-block;
    margin-right:9px;
    margin-bottom: 9px;
  }
  .oregen_font li{border:1px solid #F79E20;color:#F79E20; background: #fff}
  .EC_CP_input1{
        margin-top: 5px;
    height: 30px;
    /* line-height: 30px; */
    width: 85%;
    margin: 0 auto;
    position: relative;
    float: left;
    border-radius: 10px;
    background: #fff;
    top: 9px;
  }
  .EC_CP_input1>input{
        width: 78%;
    border-radius: 10px;
    height: 30px;
    font-size: 0.6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* padding-left: 10px; */
    margin-top: 0px;
  }
  .EC_CP_input1 >img{
    position: absolute;
      right: 8px;
      top: 7px;
  }
  .toolbar_lf {
      float: left;
      width: 10%;
      text-align: center;
      line-height: 47px;
      color: #fff;
  }
  .no-data{
  font-size: 14px;
    text-align: center;   
    padding: 10px 0;
}
.gray_minfont{
  font-size: 0.68rem;
  color:#838383;
}
.footer_bot{position: fixed;bottom:-1px;width: 100%;}
.icon1,.icon2,.icon3,.icon4{
  display:inline-block;width: 37px;height: 30px;
}
.icon_font{
  font-size: 0.6rem;
}
.icon1{background: url(./../img/Hicon1.png) no-repeat center center;background-size: 60%;}
.icon2{background: url(./../img/Hicon2.png) no-repeat center center;background-size: 60%;}
.icon3{background: url(./../img/Hicon3.png) no-repeat center center;background-size: 60%;}
.icon4{background: url(./../img/Hicon4.png) no-repeat center center;background-size: 60%;}
.on .icon1{background: url(./../img/Hicon1_on.png) no-repeat center center;background-size: 60%;}
.on .icon2{background: url(./../img/Hicon2_on.png) no-repeat center center;background-size: 60%;}
.on .icon3{background: url(./../img/Hicon3_on.png) no-repeat center center;background-size: 60%;}
.on .icon4{background: url(./../img/Hicon4_on.png) no-repeat center center;background-size: 60%;}
.on{color:#F79E20;}
.White_font{color: #fff;font-size: 0.5rem;}
.OL_tab{
  background-color: #F7F7F7;
  /*position: fixed;*/
    width: 100%;
    z-index: 999
}
.OL_content{
  position: relative;
  overflow-y: scroll;
  top: auto; 
}
.ML_load{    text-align: center;
       text-align: center;
    color: #F79E20;
    font-size: 0.65rem;
    height: 40px;
    line-height: 48px;
    font-weight: bold;
}
.ML_description_hight{
  height: 48px;
}
.noCard{
    width: 80%;
    margin:2rem auto;
    text-align: center;
  }
  .NC_img{
    margin-bottom: 2rem
  }
  .Nc_bot{
        text-align: center;
    /* text-indent: 2em; */
    line-height: 23px;
    font-size: 0.8rem;
}
  .Nc_bot>a{
    color: #3879D9;
  }
  .min_font{
    font-size: 15px;
    color:#666666;

  }